h1{
    font-family:'Adobe Arabic';
    color:black;
    text-align:center;
    font-size:60px;
}
body {
    background-color:white;
}
.menu ul{
    list-style:none;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color:dimgray;
}
.menu li{
    float:left;
}
.menu li a{
    display:inline-block;
    text-transform:uppercase;
    text-align:center;
    padding:10px 30px;
    text-decoration:none;
    color:black;
}
.menu a:hover{
    background-color:gainsboro;
}
footer{
    background-color:dimgray;
}
#map{
    height:400px;
    width:100%;
}
